.boxDoados {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.boxTitulo {
  // border: solid 2px red;
  height: 8vh;
  display: flex;
  align-items: end;
  justify-content: center;
}

.boxLivros {
  // border: solid 2px greenyellow;
  width: 85vw;
  height: 60vh;
  display: flex;
  justify-content: first baseline;

  // article {
  //   border: solid 2px #005695;
  //   width: 15vw;
  //   height: 32vh;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: space-evenly;
  //   border-radius: 15px;
  //   margin: 1vw;
  // }
}
