.principal {
  // border: solid 2px red;
  //   height: 80vh;
  display: flex;
  justify-content: center;
}

.container {
  // border: solid 2px green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  h2 {
    text-align: center;
  }

  form {
    border: 3px solid #005695;
    width: 22vw;
    height: 70vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    div {
      // border: solid 2px purple;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: #005695;
    }
    input {
      border: solid 2px#005695;
      width: 19vw;
      height: 5vh;
      border-radius: 10px;
      outline: none;
      padding-left: 20px;
      &::placeholder {
        color: black;
      }
    }
    .doar {
      background-color: #005695;
      width: 10vw;
      height: 6vh;
      padding-left: 0;
      font-size: 18px;
      color: white;
    }
  }
}

@media (max-width: 1250px) {
  .container {
    h2 {
      font-size: 21px;
      margin-left: 7px;
      margin-left: 7px;
    }

    form {
      width: 280px;
      height: 410px;

      input {
        width: 240px;
        height: 29px;
      }

      .doar {
        width: 130px;
      }
    }
  }
}

@media (max-width: 780px) {
  .container {
    h2 {
      font-size: 19px;
      margin-left: 10px;
      margin-left: 10px;
    }

    form {
      width: 260px;
      height: 390px;

      div {
        img {
          width: 45px;
        }
        h3 {
          font-size: 17px;
        }
      }

      input {
        width: 230px;
      }
    }
  }
}

@media (max-width: 290px) {
  .container {
    h2 {
      font-size: 17px;
      margin-left: 10px;
      margin-left: 10px;
    }

    form {
      width: 240px;
      height: 370px;

      div {
        img {
          width: 43px;
        }
        h3 {
          font-size: 15px;
        }
      }

      input {
        width: 220px;
      }
    }
  }
}
