.principal {
  // border: solid 2px red;
  //   height: 80vh;
  display: flex;
  justify-content: center;
}

.container {
  // border: solid 2px green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  form {
    border: 3px solid #005695;
    width: 22vw;
    height: 70vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    div {
      // border: solid 2px purple;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: #005695;
    }
    input {
      border: solid 2px#005695;
      width: 19vw;
      height: 5vh;
      border-radius: 10px;
      outline: none;
      padding-left: 20px;
      &::placeholder {
        color: black;
      }
    }
    .doar {
      background-color: #005695;
      width: 10vw;
      height: 6vh;
      padding-left: 0;
      font-size: 18px;
      color: white;
    }
  }
}

@media (max-width: 1208px) {
  form {
    width: 45vw;
    height: 50vh;

    input {
      border: solid 2px#005695;
      width: 35vw;
      height: 5vh;
      border-radius: 10px;
      outline: none;
      padding-left: 0.75vw;

      &::placeholder {
        color: black;
      }
    }
  }
}

@media (max-width: 760px) {
  .container {
    h2 {
      font-size: 18px;
      text-align: center;
      width: 50vw;
    }
  }

  form {
    width: 55vw;
    height: 55vh;

    input {
      border: solid 2px#005695;
      width: 40vw;
      height: 5vh;
      border-radius: 15px;
      outline: none;
      padding-left: 0.75vw;
      &::placeholder {
        color: black;
      }
    }
  }
}

@media (max-width: 474px) {
  .container {
    h2 {
      font-size: 16px;
      text-align: center;
      width: 100%;
    }
  }

  form {
    width: 85vw;
    height: 45vh;

    input {
      border: solid 2px#005695;
      width: 65vw;
      height: 5vh;
      border-radius: 15px;
      outline: none;
      padding-left: 0.9vw;
      &::placeholder {
        color: black;
      }
    }
  }

  .doar {
    width: 20vw;
    height: 6vh;
  }
}
